<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
</head>
<body>

<h2>Admin Login</h2>

<form th:action="@{/login}" method="post">

    <div>
        <label>Username:</label>
        <input type="text" name="username" required />
    </div>

    <br>

    <div>
        <label>Password:</label>
        <input type="password" name="password" required />
    </div>

    <br>

    <div style="color:red" th:if="${error}">
        Invalid username or password
    </div>

    <button type="submit">Login</button>

</form>

</body>
</html>
